<p id="notice"><%= notice %></p>


<p>
	<strong>Imagem:</strong>
	</p>

<%= image_tag @post.imagem.url(:medium) %>	
<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @post.descricao %>
</p>

<h2>Comentarios</h2>
  <div class="field">
    <%= f.label :comentarios %>
    <%= f.text_field :comentarios %>
  </div>

<p><%= f.link_to_add "Add a task", :comentarios %></p>
<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
